<div class="navbar bg-base-100 shadow-sm sticky top-0 z-50">
  <div class="flex-1">
    <a class="text-xl" href="/">Universal Posting</a>
  </div>
  <div class="flex gap-2 items-center justify-center">
    <div class="navbar bg-base-100">
  <!-- Desktop Menu -->
  <div class="hidden md:flex space-x-4 ">
    <a href="/" class="btn btn-ghost hover:bg-[#B12C00] hover:text-white rounded-lg hover:shadow-md">
      <i class="fa-solid fa-house"></i> Home
    </a>
    <a href="/post" class="btn btn-ghost hover:bg-[#B12C00] hover:text-white rounded-lg hover:shadow-md">
      <i class="fa-solid fa-photo-film"></i> Post
    </a>
    <a href="/link_account" class="btn btn-ghost hover:bg-[#B12C00] hover:text-white rounded-lg hover:shadow-md">
      <i class="fa-solid fa-link"></i> Link Social Account
    </a>
   <% if @user %>
    <a href="/calendar" class="bg-[#B12C00] hover:bg-[#c17962] text-white p-3 rounded-lg shadow-md  transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-[#c17962] focus:ring-opacity-50">
      <i class="fa-solid fa-calendar"></i> Calendar
    </a>

      <button id="newPostBtn" onclick="my_modal_1.showModal()" class="bg-[#B12C00] hover:bg-[#c17962] text-white p-3 rounded-lg shadow-md  transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-[#c17962] focus:ring-opacity-50">
        + New Post
      </button>
    <% end %>
  </div>

  <!-- Mobile Menu Icon -->
  <div class="md:hidden dropdown dropdown-end ml-auto">
    <div tabindex="0" role="button" class="btn btn-ghost ">
      <i class="fa-solid fa-bars"></i>
    </div>
    <ul tabindex="0" class="menu dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
      <li><a href="/"><i class="fa-solid fa-house"></i> Home</a></li>
      <li><a href="/post"><i class="fa-solid fa-photo-film"></i> Post</a></li>
      <li><a href="/link_account"><i class="fa-solid fa-link"></i> Link Social Account</a></li>
      <li>
         <%if @user%>
        <a href="/calendar" class="mt-2 bg-[#B12C00] hover:bg-[#c17962] text-white p-3 rounded-lg shadow-md  transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-[#c17962] focus:ring-opacity-50">
          <i class="fa-solid fa-calendar"></i> Calendar
        </a>
        <%end%>
      </li>
      <%if @user%>
      <li>
        <button id="newPostBtn" onclick="my_modal_1.showModal()" class="mt-2 bg-[#B12C00] hover:bg-[#c17962] text-white p-3 rounded-lg shadow-md  transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-[#c17962] focus:ring-opacity-50">
          + New Post
        </button>
      </li>
      <%end%>
      <li><%#render "calendar" if @user %></li>
    </ul>
  </div>
</div>

    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img
            alt="Tailwind CSS Navbar component"
            src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li>
          <a class="justify-between">
            Profile
            <span class="badge">New</span>
          </a>
        </li>
        <li><a href="/link_account">Linked Account</a></li>
        <li><%= button_to "Log out", session_path, method: :delete if authenticated? %></li>
      </ul>
    </div>
  </div>
</div>


<%=render "post_modal" if @user %>
