
<button class="bg-[#B12C00] hover:bg-[#c17962] text-white px-6 py-3 rounded-lg shadow-md  transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-[#c17962] focus:ring-opacity-50" onclick="scheduled_calender.showModal()">
    <i class="fa-solid fa-calendar-days"></i>View Scheduled
</button>
<dialog id="scheduled_calender" class="modal">
  <div class="modal-box w-11/12 max-w-5xl">
    <h1>Your Post Status</h1>
    <div class="flex gap-2 items-center ">
      <div>
        <div aria-label="status" class="status bg-[#8fdf82]  status-xl"></div> Posted
      </div>
        <div>
          <div aria-label="status" class="status status-xl"></div>scheduled
        </div>

    </div>

    <div data-controller="calendar" class="h-[500px]"></div>
    <div class="modal-action">
      <form method="dialog">
        <!-- if there is a button, it will close the modal -->
        <button class="btn rounded-full w-[100px] bg-[#B12C00] hover:bg-[#c17962] text-white"><i class="fa-solid fa-xmark"></i></button>
      </form>
    </div>
  </div>
</dialog>


<dialog id="event_details_modal" class="modal">
  <div class="modal-box">
    <h3 id="event-modal-title" class="font-bold text-lg">Event Title</h3>
    <p id="event-modal-date" class="py-2">Date Info</p>
    <p id="event-modal-type" class="py-1">Status</p>
    <img id="event-modal-image" src="" alt="Post image" loading="lazy" class="mb-4 rounded-xl object-cover w-full h-48" />

    <div class="modal-action">
      <form method="dialog">
        <button class="btn rounded-full w-[100px] bg-[#B12C00] hover:bg-[#c17962] text-white"><i class="fa-solid fa-xmark"></i></button>
      </form>
    </div>
  </div>
</dialog>

