
    <div class="flex flex-col">
      <div>
        <h1>Your Post Status</h1>
        <div class="flex gap-2 items-center ">
          <div>
            <div aria-label="status" class="status bg-[#8fdf82]  status-xl"></div> Posted
          </div>
            <div>
              <div aria-label="status" class="status status-xl"></div>scheduled
            </div>

        </div>
      </div>
        <div data-controller="calendar" class="min-h-screen"></div>
    </div>



<!-- post view modal -->

<dialog id="event_details_modal" class="modal">
  <div class="modal-box">
    <h3 id="event-modal-title" class="font-bold text-lg">Event Title</h3>
    <p id="event-modal-date" class="py-2">Date Info</p>
    <p id="event-modal-type" class="py-1">Status</p>
    <img id="event-modal-image" src="" alt="Post image" loading="lazy" class="mb-4 rounded-xl object-cover w-full h-48" />

    <div class="modal-action">
      <form method="dialog">
        <button class="btn rounded-full w-[100px] bg-[#B12C00] hover:bg-[#c17962] text-white"><i class="fa-solid fa-xmark"></i></button>
      </form>
    </div>
  </div>
</dialog>



