  <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[1300px] flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4">
              <div class="flex min-w-72 flex-col gap-3">
                <p class="text-[#111418] tracking-light text-[32px] font-bold leading-tight">Solutions for every business</p>
                <p class="text-[#60758a] text-sm font-normal leading-normal">
                  Whether you're a small business, a marketing agency, or a large enterprise, Post Universal has the tools and features to help you succeed on social media.
                </p>
              </div>
            </div>
            <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAlg66pRj86V1BqljCRYT9Ls8Ihm1c1FtI_zPxL8ths54k3-I_Yz7MQIV8EWz3LSjB4fULMh9Oa79HrMLni8gjhbbzg_qE8Hs-09ZW_BizFJcFWM1N_srSVPyEr6FH676yctRg39qJZPXULIF0QdgS1vrKtcdCBbu5W_cMSvkqkSFYd5-e7XxT77URgzrLCV3HFaCdiqBmxZkv63ibQwefTWxlU4DUee4REP09bd0dgK5UT34dSMdTQBpgyxcQa2FUWqqrXQdfwoDU");'
                ></div>
                <div>
                  <p class="text-[#111418] text-base font-medium leading-normal">Small Business</p>
                  <p class="text-[#60758a] text-sm font-normal leading-normal">
                    Manage all your social media accounts in one place, schedule posts, and track your performance with ease.
                  </p>
                  <p class="text-[#60758a] text-sm font-normal leading-normal">Learn More</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuD5AFbEqnH6GqIRfzkvqece6HeebJFd87p7lQRXgEn4EB3wi-fEZvREyvhDpX12JjiQGLXeQu3sy6ah5TVkodRJCTbyPI8GuEMxTSlGlLjOkK41hkF9n4CGw96PuFwovZyl4H5f1kq9yhqgn-U7vBBCL_ft9s86GvSBYM2SqDSuvufcmjAqGi7U1EOgKA9BadXjYMm46Hg7qsq-P3JvzEhFNQtzWX9THeLZpy8Z5rrfu8Dd9PFDpB0Uo4H4qbNzy9kCOfmuKeBnYL8");'
                ></div>
                <div>
                  <p class="text-[#111418] text-base font-medium leading-normal">Marketing Agency</p>
                  <p class="text-[#60758a] text-sm font-normal leading-normal">
                    Streamline your workflow, collaborate with your team, and deliver exceptional results for your clients.
                  </p>
                  <p class="text-[#60758a] text-sm font-normal leading-normal">Learn More</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCzVmTPOLgzCcihuzc4eoW2I2zv2l6cBz173JSjq9NYVgm3Ko5HKGgEZuhh598Bnu8B8oDSgT_NZdsrDZzEa3sfBUdwFyvKRxgWdegJBBjlWfAXLpYYgkVeUioNrZsBV5Z2FT7M_ccQqPQKMi6Fzn1Y6ygQw7uWrAMDAi-CVsw72dSfXaGKTm3Mbnw3q69t8-EW9M71rof7wZLoAnONLP0vyF2POWoSuboxpxbX8S1sPg9iPVkmugxX4zYH1lVEIeJlugkwYynTneI");'
                ></div>
                <div>
                  <p class="text-[#111418] text-base font-medium leading-normal">Enterprise</p>
                  <p class="text-[#60758a] text-sm font-normal leading-normal">
                    Scale your social media efforts, manage multiple brands, and gain deep insights into your audience.
                  </p>
                  <p class="text-[#60758a] text-sm font-normal leading-normal">Learn More</p>
                </div>
              </div>
            </div>
            <div class="flex flex-col gap-10 px-4 py-10 @container">
              <div class="flex flex-col gap-4">
                <h1
                  class="text-[#111418] tracking-light text-[32px] font-bold leading-tight @[480px]:text-4xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em] max-w-[720px]"
                >
                  Trusted by thousands of businesses
                </h1>
                <p class="text-[#111418] text-base font-normal leading-normal max-w-[720px]">
                  Join the growing community of businesses that rely on Post Universal to manage their social media presence and achieve their marketing goals.
                </p>
              </div>
              <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-0">
                <div class="flex flex-1 gap-3 rounded-lg border border-[#dbe0e6] bg-white p-4 flex-col">
                  <div class="text-[#111418]" data-icon="Users" data-size="24px" data-weight="regular">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                      <path
                        d="M117.25,157.92a60,60,0,1,0-66.5,0A95.83,95.83,0,0,0,3.53,195.63a8,8,0,1,0,13.4,8.74,80,80,0,0,1,134.14,0,8,8,0,0,0,13.4-8.74A95.83,95.83,0,0,0,117.25,157.92ZM40,108a44,44,0,1,1,44,44A44.05,44.05,0,0,1,40,108Zm210.14,98.7a8,8,0,0,1-11.07-2.33A79.83,79.83,0,0,0,172,168a8,8,0,0,1,0-16,44,44,0,1,0-16.34-84.87,8,8,0,1,1-5.94-14.85,60,60,0,0,1,55.53,105.64,95.83,95.83,0,0,1,47.22,37.71A8,8,0,0,1,250.14,206.7Z"
                      ></path>
                    </svg>
                  </div>
                  <div class="flex flex-col gap-1">
                    <h2 class="text-[#111418] text-base font-bold leading-tight">10,000+ Small Businesses</h2>
                    <p class="text-[#60758a] text-sm font-normal leading-normal">
                      Small businesses use Post Universal to simplify their social media management and grow their online presence.
                    </p>
                  </div>
                </div>
                <div class="flex flex-1 gap-3 rounded-lg border border-[#dbe0e6] bg-white p-4 flex-col">
                  <div class="text-[#111418]" data-icon="UsersThree" data-size="24px" data-weight="regular">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                      <path
                        d="M244.8,150.4a8,8,0,0,1-11.2-1.6A51.6,51.6,0,0,0,192,128a8,8,0,0,1-7.37-4.89,8,8,0,0,1,0-6.22A8,8,0,0,1,192,112a24,24,0,1,0-23.24-30,8,8,0,1,1-15.5-4A40,40,0,1,1,219,117.51a67.94,67.94,0,0,1,27.43,21.68A8,8,0,0,1,244.8,150.4ZM190.92,212a8,8,0,1,1-13.84,8,57,57,0,0,0-98.16,0,8,8,0,1,1-13.84-8,72.06,72.06,0,0,1,33.74-29.92,48,48,0,1,1,58.36,0A72.06,72.06,0,0,1,190.92,212ZM128,176a32,32,0,1,0-32-32A32,32,0,0,0,128,176ZM72,120a8,8,0,0,0-8-8A24,24,0,1,1,87.24,82a8,8,0,1,0,15.5-4A40,40,0,1,0,37,117.51,67.94,67.94,0,0,0,9.6,139.19a8,8,0,1,0,12.8,9.61A51.6,51.6,0,0,1,64,128,8,8,0,0,0,72,120Z"
                      ></path>
                    </svg>
                  </div>
                  <div class="flex flex-col gap-1">
                    <h2 class="text-[#111418] text-base font-bold leading-tight">5,000+ Marketing Agencies</h2>
                    <p class="text-[#60758a] text-sm font-normal leading-normal">
                      Marketing agencies leverage Post Universal to manage multiple clients, collaborate effectively, and deliver exceptional results.
                    </p>
                  </div>
                </div>
                <div class="flex flex-1 gap-3 rounded-lg border border-[#dbe0e6] bg-white p-4 flex-col">
                  <div class="text-[#111418]" data-icon="UsersThree" data-size="24px" data-weight="regular">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                      <path
                        d="M244.8,150.4a8,8,0,0,1-11.2-1.6A51.6,51.6,0,0,0,192,128a8,8,0,0,1-7.37-4.89,8,8,0,0,1,0-6.22A8,8,0,0,1,192,112a24,24,0,1,0-23.24-30,8,8,0,1,1-15.5-4A40,40,0,1,1,219,117.51a67.94,67.94,0,0,1,27.43,21.68A8,8,0,0,1,244.8,150.4ZM190.92,212a8,8,0,1,1-13.84,8,57,57,0,0,0-98.16,0,8,8,0,1,1-13.84-8,72.06,72.06,0,0,1,33.74-29.92,48,48,0,1,1,58.36,0A72.06,72.06,0,0,1,190.92,212ZM128,176a32,32,0,1,0-32-32A32,32,0,0,0,128,176ZM72,120a8,8,0,0,0-8-8A24,24,0,1,1,87.24,82a8,8,0,1,0,15.5-4A40,40,0,1,0,37,117.51,67.94,67.94,0,0,0,9.6,139.19a8,8,0,1,0,12.8,9.61A51.6,51.6,0,0,1,64,128,8,8,0,0,0,72,120Z"
                      ></path>
                    </svg>
                  </div>
                  <div class="flex flex-col gap-1">
                    <h2 class="text-[#111418] text-base font-bold leading-tight">1,000+ Enterprises</h2>
                    <p class="text-[#60758a] text-sm font-normal leading-normal">
                      Enterprises rely on Post Universal to scale their social media efforts, manage multiple brands, and gain deep insights into their audience.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="@container">
              <div class="flex flex-col justify-end gap-6 px-4 py-10 @[480px]:gap-8 @[480px]:px-10 @[480px]:py-20">
                <div class="flex flex-col gap-2 text-center">
                  <h1
                    class="text-[#111418] tracking-light text-[32px] font-bold leading-tight @[480px]:text-4xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em] max-w-[720px]"
                  >
                    Ready to take your social media to the next level?
                  </h1>
                  <p class="text-[#111418] text-base font-normal leading-normal max-w-[720px">Start your free trial today and experience the power of Post Universal.</p>
                </div>
                <div class="flex flex-1 justify-center">
                  <div class="flex justify-center">
                    <a href="/dashboard"
                      class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 @[480px]:h-12 @[480px]:px-5 bg-[#258df4] text-white text-sm font-bold leading-normal tracking-[0.015em] @[480px]:text-base @[480px]:font-bold @[480px]:leading-normal @[480px]:tracking-[0.015em] grow"
                    >
                      <span class="truncate">Get Started</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>