<div class="bg-white p-8  max-w-md w-full mx-4 sm:mx-auto">


  <h1 class="font-bold text-4xl">Forgot your password?</h1>

  <%= form_with url: passwords_path, class: "contents" do |form| %>
    <div class="my-5">
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "block shadow-sm rounded-md border border-[#B12C00] focus:outline-solid focus:outline-[#B12C00] px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="inline">
      <%= form.submit "Email reset instructions", class: "w-full cursor-pointer publish-btn bg-[#B12C00] text-white px-5 py-2.5 rounded-lg shadow-md hover:bg-[#c17962] transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-[#c17962] focus:ring-opacity-50" %>
    </div>
  <% end %>
</div>
